div {
    width: 200px;
    height: 150px;
    background-color: rgb(179, 147, 147);
    padding: 10px;
    margin: 70px;
    /* border-width: 10px;
    border-color: red ;
    border-style: solid; */
    border: 10px solid red;
}