div { 
    background : rgb(163, 148, 148);
    /* Top right bottom left */ 
    /* 10px 10px 10px 10px  */
    /* padding: 10px;  */
    
    /* Top right bottom left */ 
    /* 10px 20px 10px 20px  */  /* left - right / top - bottom  */
    /* padding: 10px 20px;  */

     /* Top right bottom left */ 
    /* 10px 20px 15px 20px  */  /* left - right / top - bottom  */
    /* padding: 10px 20px 15px;  */

    padding : 0 0 15px ; 
    padding-bottom: 15px;
}

